::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }
  
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgb(26, 243, 73);
  }
  
  @import "../../../../../../styles.scss";
  
  .container {
    height: 0 !important;
  } 
  
  ::ng-deep .mat-horizontal-stepper-header-container
{
  overflow-x: auto;
}


  .row {
    overflow: auto;
  }
  